@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');
* {box-sizing: border-box;}
html,body{
  font-family:'Poppins',sans-serif;
  margin:0;
}
#bg-vid{
  position: absolute;
  left: 0;
  top: 0;
}
h1 {
  color: #fff;
  font-size: 4em;
  z-index:9;
  max-width: 700px;
}
.banner{
  background: #111;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tech-logos:nth-child(even) {
  animation: x 13s linear infinite alternate;
}

.tech-logos:nth-child(odd) {
  animation: y 7s linear infinite alternate;
}

@keyframes x {
  100% {
    transform: translateX( calc(100vw - #{$size}) );
  }
}

@keyframes y {
  100% {
    transform: translateY( calc(100vh - #{$size}) );
  }
}